.create-goods h2 {
  text-align: center;
  margin-top: 10px;
}

.create-goods {
  margin: 10px;
  background-color: #FFF;
  height: calc(100vh - 60px - 60px);

  input {
    width: 100%;
    height: 30px;
    border: 1px solid #cccccc;
    padding-left: 10px;
  }

  form {
    width: 90%;
    margin: auto;
  }

  div {
    margin-top: 20px;
  }

  & > button {
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    width: 50px;
    height: 30px;
    background-color: rgb(69, 145, 247);
    color: #FFF;
    font-size: 15px;
  }

  .form-required {
    color: red;
    margin-right: 2px;
  }
}
