.table{
  margin: 10px;
  background-color: #FFF;
  height: calc(100vh - 60px - 60px);
}
.order-table{
  margin: auto;
  width: 80%;
  font-size: 18px;
  padding-top:50px;
  td{
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  th{
    border-bottom: 1px solid #ccc;
    background-color: #fafafa;
  }
  tr{
    height:60px;
    margin-top:20px;
  }
  button{
    padding: 5px 18px;
    color: red;
  }
}