.goods{
  display: flex;
  border-style: ridge;
  width: 230px;
  height: 320px;
  margin: 10px;
  padding-left: 20px;
  margin-left: 20px;
  img{
    width: 180px;
    padding: 5%;
    height: auto;
  }
  button{
    float: right;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    font-size: 20px;
    line-height: 30px;
  }
}

.goods:focus-within{
  display:flex;
}

