.menu ul{
  list-style: none;
  display: flex;
  li{
    margin: 0 15px;
    line-height: 60px;
  }

  a{
    display: block;
    text-decoration: none;
    color: white;
    vertical-align: middle;
    height: 60px;
    padding: 0 10px;
  }

}

.menu{
  background-color: rgb(4,21,39);
  height: 60px;
  font-size: 18px;
}

.icon{
  color: white;
  vertical-align: middle;
}
